<p>Full Name: <strong>Matvii Kolomiiets</strong></p>
<div class="portrait-container">
    <p>Profile Picture: </p>
    <img src="/favicon.png" width="150" height="150"
         alt="Profile Portrait">
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam est mauris, condimentum et rutrum a, imperdiet quis
    libero. Proin auctor sem imperdiet, varius nisi eget, laoreet mi. Suspendisse non vestibulum nibh, a maximus est. Ut
    et dictum ligula. Nulla malesuada enim eu velit commodo efficitur. Morbi sit amet lacus ex. Proin suscipit dignissim
    nisl, quis elementum nulla mollis quis.</p>

<div class="resume-container">
    <a href="/Resume.pdf" target="_blank">See my Detailed Resume</a>
</div>
