<div class="feedback-form">
    <span>
        Name
        <input type="text" placeholder="First">
        <input type="text" placeholder="Last">
    </span>
    <span>
        Phone
        <input type="tel" pattern="^(\+0?1\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$" placeholder="123-456-7890">
    </span>
    <span>
        Email
        <input type="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" placeholder="example@email.com">
    </span>
    <span>
        Your Message
        <textarea name="user_message" cols="40" rows="5"></textarea>
    </span>
    <div class="submit-btn">
        Send
    </div>
</div>