<div class="projects-container">
    <div class="project proj1">
        <div class="name">Balloon Duel</div>
        <div class="image"></div>
        <div class="position">Lead Manager</div>
    </div>
    <div class="project proj2">
        <div class="name">Nebula Network</div>
        <div class="image"></div>
        <div class="position">Infrastructure Engineer</div>
    </div>
    <div class="project proj3">
        <div class="name">Ongoing Initiative</div>
        <div class="image"></div>
        <div class="position">Backend and Frontend Developer</div>
    </div>
</div>
