footer {
  display: flex;
  flex-direction: row;
  justify-content: left;

  user-select: none;

  * {
    margin-left: 10px;

    :not(:first-child) {
      margin-left: 0;
    }
  }

  background-color: #dd7859;
  color: white;
  flex: 0 1;
  padding: 10px 150px;
}